{% extends 'blog/base.html' %}
{% block content %}
    <h1>This is our new index page!</h1>
    {% for p in posts %}

        {% if p.author == "Ivan Wang" %}

            <h2>The Best Instructor</h2>

        {% endif %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ p.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ p.author }}</h6>
              <p class="card-text">{{ p.content }}</p>
              <p class="card-text">{{ p.date_posted }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock %}