{% extends 'blog/base.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
    </p>
    <p>
        <label for="id_password1">Password</label>
        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
    </p>
    <input type="submit" value="Submit">
</form>


{% endblock %}